body,html{
margin: 0;
padding: 0;
height: 75vh;
font-family: Verdana, Helvetica, Arial, sans-serif;
color: white;

}
.Hero{
  background-image: url("");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 1200px;
  height: 90vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.Wrapper{
  display: flex;
  flex-direction: row;
  width:780vw;
  opacity: 1;
}

.Slide{
  width: 175vw;
  height: 100vh;
}

.Spacer{
  height:75vh;
  width:19vw;
}

.Name{
  /*background-color: #be97cf;*/
  text-align: center;
  background-image: linear-gradient(to right, #1D330E, #728F66);
}
.Self{
  /*background-color: #9e97cf;*/
  text-align: center;
  background-image: linear-gradient(to right, #728F66, #C6EBBE);
}
.Values{
  /*background-color: #97b3cf;*/
  text-align: center;
  background-image: linear-gradient(to right, #C6EBBE, #A790A5);
}
.TwineGame{
/*  background-color: #97cfbe;*/
  text-align: center;
  background-image: linear-gradient(to right, #A790A5, #61304B);
}
.ImaginaryApp{
/*  background-color: #a19768;*/
  text-align: center;
  background-image: linear-gradient(to right, #61304B, #5C0029);
}
.Video{
  /*background-color: #a17668;*/
  text-align: center;
  background-image: linear-gradient(to right, #5C0029, #4C3B4D);
}
.baby{
  background-image: url("babykush.jpg");
}
.family{
  background-image: url("familykush.jpg");
}
.ice{
  background-image: url("icekush.jpg");
}
.mattress{
  background-image: url("mattresskush.jpg");
}
.grad{
  background-image: url("gradkush.jpg");
}
.Kush1{
  background-position: center;
  background-image: url("Kushman.png");
  width: 9vw;
}
.Kush2{
  background-position: 75% 50%;
  background-image: url("Kushman.png");
  width: 13.7vw;
}
.Spacer2{
  width: 12vw;
  height: 75vh;
}
.row{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column{
  flex:25%;
  max-width:30%;
}
.rows{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}
.columns{
  flex:50%;
  max-width:30%;
  padding: 0 4px;
}
.columns img {
  vertical-align: middle;
  width: 55%;
  margin-top: 8px;
}
.vl{
  border-left: 3px solid white;
  height: 110px;
  position: absolute;
  left: 842px;
  down: 50%;
  margin-left: 0px;
  top: 77%;
}
.resume img{
  width: 50%;
  margin-top: 30px;
}
